* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the entire carousel */
.carousel {
  max-width: 866px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Stage area where the images are shown */
.carousel-stage {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding effect */
}

/* Each image frame */
.carousel-frame {
  min-width: 100%;
  height: 577px;
}

/* Styling the images inside the frames */
.carousel-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Control buttons styling */
.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls .prev-btn,
.carousel-controls .next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Thumbnails container */
.carousel-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Thumbnail container div */
.carousel-thumbnails div {
  margin: 0 5px;
  height: 100%;
}

/* Thumbnail images */
.carousel-thumbnails img {
  width: 64px;
  height: 54px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease, border 0.3s ease;
  border: 3px solid transparent;
}

/* Highlight the active thumbnail */
.carousel-thumbnails div.active img {
  border: 3px solid #00afea;
  transform: scale(1); /* Slightly enlarge active thumbnail */
  transition: border 0.5s ease-in-out; /* Smooth border transition */
}
